/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    /* font-family: 'Poppins', sans-serif; */
    background: #fafafa;
    color:black;
    font-size:18px;
    font-family: 'Open Sans',sans-serif;
  }

  .page-container{
    margin-left:150px;
  }

/* NavBar Starts */


#home
{
  text-align: center;
}

.topnav {
  overflow: hidden;
  /* background-color: rgb(201, 197, 197); */
  background-color: whitesmoke;
  color:#707070;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  padding-left:0px;
  text-decoration: none;
  font-size: 32.5px;
  font-weight:bold;
}

.enwrap-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right:900px;
}

#logo{
  text-align: center;
  width:100px;
  height:100px;
}


.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.full-page{
  margin-left:120px;
  margin-right:30px;
}

@media(max-width:768px)
{
  .enwrap-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:100px;
    /* margin-left:700px; */
  }  
}
/*
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
} */

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* NavBar Ends */

hr{
  border-bottom:2px solid black;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* Sidebar */

.sidebar {
  font-family:'Open Sans',sans-serif;
  margin: 0;
  margin-top:100px;
  padding: 0;
  padding-top:15px;
  width: 130px;
  background-color: #54B4BB;
  position: fixed;
  height: 330px;
  overflow: auto;
  border-radius: 0px 50px 50px 0px;
  font-size:20px;
}

#sidebar:hover{
   opacity:0.7;
}

.sidebar a {
  display: block;
  /* color: black; */
  /* color:white; */
  color:whitesmoke;
  font-weight:bolder;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #54B4BB;
}

.sidebar a:hover:not(.active) {
  background-color: black;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */

/* 
/* .wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    max-height:540px;
    background: green;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    height: 75vh;
    transition: all 0.3s;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: white;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

#details{
  margin-left:150px;
}

#text{
  margin-left:150px;
  margin-right:-10px;
}

.response{
  margin-left:150px;
  margin-right:30px;
}

/* NavBar */

.navbar-text{
  text-align: center;
  margin-left:430px;
  font-size:20px;
}

.navbar-text:hover{
  background-color: white;
}

#copy-button{
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
    outline:none;
    border:none;
}

#first-copy-button{
  margin-left:20px;
  margin-bottom:10px;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    margin: 0;
    margin-top:10px;
    padding: 1.75rem 3.125rem;
    background-color: #54B4BB;
    border: none;
    border-radius: 0.3125rem;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
  }
  .button:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #54d98c;
  }
  .button span {
    position: absolute;
    line-height: 0;
  }
  .button span i {
    transform-origin: center center;
  }
  .button span:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%);
  }
  .button span:nth-of-type(2) {
    top: 100%;
    transform: translateY(0%);
    font-size: 24px;
  }
  .button span:nth-of-type(3) {
    display: none;
  }
  
  .active {
    background-color: #2ecc71;
  }
  .active:before {
    width: 100%;
    transition: width 3s linear;
  }
  .active span:nth-of-type(1) {
    top: -100%;
    transform: translateY(-50%);
  }
  .active span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .active span:nth-of-type(2) i {
    animation: loading 500ms linear infinite;
  }
  .active span:nth-of-type(3) {
    display: none;
  }
  
.submit{
  font-size:18.5px;
}

  .finished {
    background-color: #54d98c;
  }
  .finished .submit {
    display: none;
  }
  .finished .loading {
    display: none;
  }
  .finished .check {
    display: block !important;
    font-size: 24px;
    animation: scale 0.5s linear;
  }
  .finished .check i {
    transform-origin: center center;
  }
  
  @keyframes loading {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes scale {
    0% {
      transform: scale(10);
    }
    50% {
      transform: scale(0.2);
    }
    70% {
      transform: scale(1.2);
    }
    90% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
  

  .contact-section{
      width:86%;
      height:100%;
      background-color: purple;
      padding-bottom:100px;
  }

  #button-align{
      background-color:green;
      margin-top:200px;
      box-shadow: rgba(0, 0, 0, 0.9);
      margin-left:100px;
  }

  .contact-section-container{
      color:black;
      display:flex;
      align-items: stretch;
      justify-content: space-evenly;
  }

  .student-details-form{
      margin-top:50px;
    margin-left:50px;
    background-color: inherit;
  }

  #student-submit-btn{
      background-color: yellow;
      margin-left:15px;
      padding-top:25px;
      color:black;
  }

 /* First Form */
.contact-form {
  margin-top: 30px;
}
.contact-form .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px black;
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .input-block.focus {
  background-color: #fff;
  border: solid 1px black;
}
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #333;
  font-size: 18px;
  line-height: 10px;
}
.contact-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #fb2900;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: white;
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}
/*----page styles---*/


.contact-wrap {
  padding: 15px;
}


.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}

@media(max-width:800px)
{
    .contact-section-container{
        /* margin-top:50px; */
        padding-left:30px;
        padding-right:30px;
        width:100%;
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    
  .section-3{
    padding-left:30px;
    padding-right:30px;
  }
  .mcq-button-division
{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-right:0px;
}
}

/* Third Section */
.section-3{
  text-align: center;
  padding-left:75px;
  padding-right:75px;
}


/* MCQ */

.mcq-container{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding-bottom:50px;
}

.quiz,
.choices {
  list-style-type: none;
  padding: 0;
}

.choices li {
  margin-bottom: 5px;
}

.choices label {
  display: flex;
  align-items: center;
}

.choices label,
input[type="radio"] {
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 8px;
}

.view-results{
  padding: 1rem;
  cursor: pointer;
  font-size: inherit;
  color: white;
  font-weight:bolder;
  background:  #54B4BB;
  border-radius: 8px;
  margin-right: 50px;
  padding-left:25px;
  padding-right:25px;
  border:1px solid  #54B4BB;
}

.my-results {
  padding: 1rem;
  border: 1px solid  #54B4BB;
  padding-left:20px;
  padding-right:20px;
  border-radius:10px;
}


#mcq-submit {
  background: #2B2D2F;
  height: 80px;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.mcq-button-division
{
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-right:60px;
}

#legend{
  display:flex;
  align-items: center;
}

.icon-font{
  padding-right:50px;
  font-size:60px;
}

.deploy-container{
  text-align: center;
  margin-left:40px;
  margin-right:40px;
}

.export-btn{
  padding: 1rem;
  cursor: pointer;
  font-size: inherit;
  color: white;
  background-color:  #54B4BB;
  border:1px solid  #54B4BB;
  font-weight:bolder;
  border-radius: 8px;
  margin-left: 200px;
  padding-left:25px;
  padding-right:25px;
  margin-bottom:17.5px;
}

.edit-part{
  width: 100%;
  list-style-type:none;
  text-align: center;
  padding-right:50px;
}

.edit-part:hover{
  background-color:green;
  color: white;
}

/* Search Bar */

.search-bar{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left:-30px;
}

#bar{
  width:350px;
  height:70px;
}

.icon{
  margin-right:25px;
  font-size:15px;
  font-weight:bold;
  background-color: black;
  color:white;
  padding-left:30px;
  padding-right:30px;
  padding-top:25px;
  padding-bottom:25px;
}

.icon:hover, .icon:focus{
  color:white;
}